@import '@/assets/styles/variables.scss';

@font-face {
    font-family: "Avenir Next";
    src: url(~@/assets/fonts/AvenirNextCyr-Demi.otf);
}
@font-face {
    font-family: "Avenir Next Regular";
    src: url(~@/assets/fonts/AvenirNextCyr-Regular.otf);
}

@media (min-width: 1400px) {
    .container{
        max-width: 1200px !important;
    }
}

#app {
    font-family: Avenir Next, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: block;
}
html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

//переопределение шрифта в редакторе текста


::v-deep .mail-fileinput {
    height: 135px !important;
    border: 1px sienna !important;
    margin-bottom: 2rem;
    & .file-preview-wrapper {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      height: 135px;
    }
    & .file-input-wrapper {
        border: 2px dashed #E3E9F2;
    }
    & .file-preview-wrapper::before {
      background-color: transparent !important;
    }
    & .file-preview {
      justify-content: center;
      align-items: center;
      width: 90% !important;
      font-family: Avenir Next Regular, sans-serif !important;
      & .help-text {
        text-align: center;
        color: black;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        left: 0 !important;
        top: 0 !important;
        & .select-file {
            color: $blue;
            display: inline;
        }
        & .size {
            color: #121212;
            font-family: Avenir Next, sans-serif !important;
            opacity: .5;
        }
      }
      svg {
        display: none;
      }
    }
}

.mail {
    &-block {
        min-height: 100px;
        background: white;
        transition: .1s linear;
        padding: 2.3rem 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        position: relative;
        & .dragger {
            display: block;
            width: 12px;
            height: 26px;
            opacity: .5;
            position: absolute;
            top: 20px;
            right: 20px;
            background-image: url("~@/assets/dots.svg");
            background-size: cover;
            background-repeat: no-repeat;
            cursor: grabbing;
        }
        & .mail-nav {
            visibility: hidden;
        }
        & .dragger {
            visibility: hidden;
        }
        &:hover {
            box-shadow: 0px 3px 8px rgba(23, 24, 27, 0.12), 0px 3px 1px rgba(23, 24, 27, 0.04);
            transform: scale(1.01);
            z-index: 999;
            & .mail-nav {
                visibility: visible;
            }
            & .mail-content::after {
                visibility: hidden;
            }
            & .dragger {
                visibility: visible;
            }
        }
        &__heading {
            font-style: normal;
            font-weight: 450;
            font-size: 22px;
            line-height: 27px;
            letter-spacing: 0.01em;
            color: #121212;
        }
    }
    &-nav {
        flex-basis: 27%;
        height: 100%;
        min-height: 100px;
        display: flex;
        // padding: 0 .5rem;
        &__btn {
            background-color: white;
            background-repeat: no-repeat;
            background-position: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-shadow: 0px 3px 8px rgba(23, 24, 27, 0.12), 0px 3px 1px rgba(23, 24, 27, 0.04);
            cursor: pointer;
            border: none;
        }
        &__section {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: center;
            flex-basis: 33%;
        }
    }
    &-content {
        flex-basis: 73%;
        height: 100%;
        padding: 0 .5rem;
        position: relative;
        text-align: left;
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background: #eeeeee;
            position: absolute;
            left: 0px;
            bottom: -2rem;
        }
    }
    &__input {
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 42px;
        letter-spacing: 0.03em;
        color: $black;
        max-width: 100%;
        word-break: break-word;
        text-align: left;
    }
}

.btn {
&-custom {
    border-radius: 42px;
    padding: .7rem 2.6rem;
    box-sizing: border-box;
    height: 41px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.15em;
    text-transform: uppercase;        
    color: $black;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: none !important;
}
&-primary-custom {
    border: none;
    background: $blue;
    color: white;
    cursor: pointer;
    box-shadow: none !important;
    &.disabled {
        cursor: default;
        color: #818c99;
        background: $gray;
    }
    &:hover {
        background-color: $light-blue;
    }
}
&-secondary-custom {
    border: 2px solid $blue;
    background: transparent;
    box-shadow: none !important;
    &:hover {
        background: $blue !important;
        border-color: $blue !important;
        color: white !important;
    }
}
}

.back-link {
    flex-basis: 5%;
    cursor: pointer;
    width: 100%;
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    &-text {
    position: relative;
      &::before {
      content: '';
      width: 15px;
      height: 15px;
      display: block;
      position: absolute;
      top: 0px;
      left: -20px;
      background: url('~@/assets/angle.svg') no-repeat;
      background-size: cover;

    }
    }
  }

  .wsywig {
      margin-bottom: 1rem;
      word-break: break-word;
      max-width: 100%;
  }
  .ql {
      &-align {
          &-center {
              text-align: center;
          }
          &-right {
              text-align: right;
          }
          &-center {
              text-align: justify;
          }
          
      }
      &-container {
        font-family: Avenir Next Regular, sans-serif !important;
    }
  }

  .content__input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #EEEEEE;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #121212;
    margin-bottom: 1rem;
    &:focus {
        border: none;
        outline: none;
        border-bottom: 1px solid #EEEEEE;
    }
  }

  .image-preview {
      display: block;
      position: relative;
      margin-bottom: 1rem;
      width: 100%;
      height: auto;
      max-height: 300px;
      &:hover {
        .image-preview__delete {
            display: flex;
        }
      }
      &__img {
          width: auto;
          height: 100%;
          max-width: 300px;
          max-height: 300px;
      }
      &__delete {
        position: absolute;
        top: 0px;
        right: 5px;
        border-radius: 22px;
        width: 100px;
        height: 27px;
        background: #F0F2F5;
        border: none;
        display: none;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: 0; 
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
      }
  }

  .select-preloaded {
      @extend .select-file;
      color: $blue;
      cursor: pointer;
      &:hover {
        color: $light-blue;
      }
  }

  .disabled {
      background-color: $gray;
      cursor: default;
      &:hover {
          background-color: $gray;
      }
  }
