@import '@/assets/styles/variables.scss';

@font-face {
    font-family: "Avenir Next";
    src: url(~@/assets/fonts/AvenirNext.ttf);
}

#app {
    font-family: Avenir Next, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    width: 100vw;
    height: 100vh;
}
html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
}
p {
    color: $blue;
}

::v-deep .mail-fileinput {
    height: 135px !important;
    & .file-preview-wrapper {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      height: 135px;
    }
    & .file-preview-wrapper::before {
      background-color: transparent !important;
    }
    & .file-preview {
      justify-content: center;
      align-items: center;
      width: 50% !important;
      & .help-text {
        text-align: center;
      }
      svg {
        display: none;
      }
    }
}

.mail {
    &-block {
        min-height: 100px;
        background: white;
        transition: .1s linear;
        padding: 2.3rem 1rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        & .mail-nav {
            visibility: hidden;
        }
        &:hover {
            box-shadow: 0px 3px 8px rgba(23, 24, 27, 0.12), 0px 3px 1px rgba(23, 24, 27, 0.04);
            transform: scale(1.01);
            & .mail-nav {
                visibility: visible;
            }
        }
    }
    &-nav {
        flex-basis: 20%;
        height: 100%;
        min-height: 100px;
        display: flex;
        padding: 0 .5rem;
        &__btn {
            background-color: white;
            background-repeat: no-repeat;
            background-position: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-shadow: 0px 3px 8px rgba(23, 24, 27, 0.12), 0px 3px 1px rgba(23, 24, 27, 0.04);
            cursor: pointer;
            border: none;
        }
        &__section {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: center;
            flex-basis: 33%;
        }
    }
    &-content {
        flex-basis: 80%;
        height: 100%;
        padding: 0 .5rem;
    }
    &__input {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.15em;
        text-transform: uppercase;        
        color: $black;
        outline: none;
        margin: 0;
        caret-color: $blue;
        word-break: break-word;
        &:focus {
            border: none;
            // border-bottom: 1px solid $black;
            outline: none;
            cursor: pointer;
          }
    }
    &__textarea {
        max-width: 50%;
    }
}

.btn-custom {
    border-radius: 42px;
    padding: .7rem 2.6rem;
    box-sizing: border-box;
    height: 2.9rem;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.15em;
    text-transform: uppercase;        
    color: $black;
}