@import '@/assets/styles/variables.scss';

@font-face {
    font-family: "Avenir Next";
    src: url(~@/assets/fonts/AvenirNextCyr-Demi.otf);
}

@media (min-width: 1400px) {
    .container{
        max-width: 1200px !important;
    }
}

#app {
    font-family: Avenir Next, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: block;
}
html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

::v-deep .mail-fileinput {
    height: 135px !important;
    border: 1px sienna !important;
    & .file-preview-wrapper {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      height: 135px;
    }
    & .file-input-wrapper {
        border: 2px dashed #E3E9F2;
    }
    & .file-preview-wrapper::before {
      background-color: transparent !important;
    }
    & .file-preview {
      justify-content: center;
      align-items: center;
      width: 50% !important;
      & .help-text {
        text-align: center;
      }
      svg {
        display: none;
      }
    }
}

.mail {
    &-block {
        min-height: 100px;
        background: white;
        transition: .1s linear;
        padding: 2.3rem 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        position: relative;
        & .dragger {
            display: block;
            width: 30px;
            height: 30px;
            opacity: .5;
            position: absolute;
            background-image: url("~@/assets/drag.png");
            background-size: contain;
            top: 1%;
            cursor: grabbing;
        }
        & .mail-nav {
            visibility: hidden;
        }
        & .dragger {
            visibility: hidden;
        }
        &:hover {
            box-shadow: 0px 3px 8px rgba(23, 24, 27, 0.12), 0px 3px 1px rgba(23, 24, 27, 0.04);
            transform: scale(1.01);
            z-index: 999;
            & .mail-nav {
                visibility: visible;
            }
            & .mail-content::after {
                visibility: hidden;
            }
            & .dragger {
                visibility: visible;
            }
        }
    }
    &-nav {
        flex-basis: 29%;
        height: 100%;
        min-height: 100px;
        display: flex;
        // padding: 0 .5rem;
        &__btn {
            background-color: white;
            background-repeat: no-repeat;
            background-position: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-shadow: 0px 3px 8px rgba(23, 24, 27, 0.12), 0px 3px 1px rgba(23, 24, 27, 0.04);
            cursor: pointer;
            border: none;
        }
        &__section {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: center;
            flex-basis: 33%;
        }
    }
    &-content {
        flex-basis: 71%;
        height: 100%;
        padding: 0 .5rem;
        position: relative;
        text-align: left;
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background: #eeeeee;
            position: absolute;
            left: 0px;
            bottom: -2rem;
        }
    }
    &__input {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.15em;
        text-transform: uppercase;        
        color: $black;
        outline: none;
        margin: 0;
        caret-color: $blue;
        word-break: break-word;
        text-align: left;
        &:focus {
            border: none;
            // border-bottom: 1px solid $black;
            outline: none;
            cursor: pointer;
          }
    }
}

.btn {
&-custom {
    border-radius: 42px;
    padding: .7rem 2.6rem;
    box-sizing: border-box;
    height: 41px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.15em;
    text-transform: uppercase;        
    color: $black;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
&-primary {
    border: none;
    background: $blue;
    color: white;
    cursor: pointer;
    &.disabled {
        cursor: default;
        color: #818c99;
        background: $gray;
    }
}
&-secondary {
    border: 2px solid $blue;
    background: transparent;
}
}

.back-link {
    flex-basis: 5%;
    cursor: pointer;
    width: 100%;
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    &-text {
    position: relative;
      &::before {
      content: '';
      width: 15px;
      height: 15px;
      display: block;
      position: absolute;
      top: 0px;
      left: -20px;
      background: url('~@/assets/angle.svg') no-repeat;
      background-size: cover;

    }
    }
  }

  .wsywig {
      margin-bottom: 1rem;
      word-break: break-word;
      max-width: 100%;
  }
  .ql {
      &-align {
          &-center {
              text-align: center;
          }
          &-right {
              text-align: right;
          }
          &-center {
              text-align: justify;
          }
          
      }
  }
